// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as BrevoApi from "../../../index.js";

export declare namespace TransactionalWhatsAppClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransactionalWhatsAppClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TransactionalWhatsAppClient.Options>;

    constructor(options: TransactionalWhatsAppClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * <Note>You can use this API for WhatsApp only if you have setup your WhatsApp account on Brevo platform. To setup your WhatsApp account, follow the steps in the guide below. [Activating Whatsapp](https://developers.brevo.com/docs/whatsapp-campaigns-1) in your account</Note>
     * This endpoint is used to send a WhatsApp message. <br/>(**The first message you send using the API must contain a Template ID. You must create a template on WhatsApp on the Brevo platform to fetch the Template ID.**)
     *
     * @param {BrevoApi.SendWhatsappMessageRequest} request
     * @param {TransactionalWhatsAppClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BrevoApi.BadRequestError}
     *
     * @example
     *     await client.transactionalWhatsApp.sendWhatsappMessage({
     *         contactNumbers: ["contactNumbers"],
     *         senderNumber: "senderNumber",
     *         templateId: 123
     *     })
     */
    public sendWhatsappMessage(
        request: BrevoApi.SendWhatsappMessageRequest,
        requestOptions?: TransactionalWhatsAppClient.RequestOptions,
    ): core.HttpResponsePromise<BrevoApi.SendWhatsappMessageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendWhatsappMessage(request, requestOptions));
    }

    private async __sendWhatsappMessage(
        request: BrevoApi.SendWhatsappMessageRequest,
        requestOptions?: TransactionalWhatsAppClient.RequestOptions,
    ): Promise<core.WithRawResponse<BrevoApi.SendWhatsappMessageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoApiEnvironment.Default,
                "whatsapp/sendMessage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as BrevoApi.SendWhatsappMessageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BrevoApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/whatsapp/sendMessage");
    }

    /**
     * This endpoint will show the unaggregated statistics for WhatsApp activity (30 days by default if `startDate` and `endDate` or `days` is not passed. The date range can not exceed 90 days)
     *
     * @param {BrevoApi.GetWhatsappEventReportRequest} request
     * @param {TransactionalWhatsAppClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BrevoApi.BadRequestError}
     *
     * @example
     *     await client.transactionalWhatsApp.getWhatsappEventReport()
     */
    public getWhatsappEventReport(
        request: BrevoApi.GetWhatsappEventReportRequest = {},
        requestOptions?: TransactionalWhatsAppClient.RequestOptions,
    ): core.HttpResponsePromise<BrevoApi.GetWhatsappEventReportResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getWhatsappEventReport(request, requestOptions));
    }

    private async __getWhatsappEventReport(
        request: BrevoApi.GetWhatsappEventReportRequest = {},
        requestOptions?: TransactionalWhatsAppClient.RequestOptions,
    ): Promise<core.WithRawResponse<BrevoApi.GetWhatsappEventReportResponse>> {
        const { limit, offset, startDate, endDate, days, contactNumber, event, sort } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            startDate,
            endDate,
            days,
            contactNumber,
            event: event != null ? event : undefined,
            sort: sort != null ? sort : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BrevoApiEnvironment.Default,
                "whatsapp/statistics/events",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as BrevoApi.GetWhatsappEventReportResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BrevoApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.BrevoApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/whatsapp/statistics/events");
    }
}
